<ion-view class="settings-view">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <span>Settings</span>
  </ion-nav-title>
  <ion-content>
    <ul class="list">
      <!--/USER INFORMATION-->
      <div class="item item-divider">USER INFORMATION</div>
        <div class="list">
          <label class="item item-input">
            <span class="input-label">First Name</span>
            <input type="text">
          </label>
          <label class="item item-input">
            <span class="input-label">Last Name</span>
            <input type="text">
          </label>
          <label class="item item-input">
            <span class="input-label">Email</span>
            <input type="email">
          </label>
          <div class="col col-center centered">
            <button class="button button-stable">SAVE INFO</button>
          </div>
        </div><!--/USER INFORMATION-->
      <!--CHANGE PASSWORD--> 
      <div class="item item-divider">CHANGE PASSWORD</div>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Current</span>
          <input type="password">
        </label>
        <label class="item item-input">
          <span class="input-label">New</span>
          <input type="password">
        </label>
        <label class="item item-input">
          <span class="input-label">Repeat New</span>
          <input type="password">
        </label>
        <div class="col col-center centered">
          <button class="button button-stable">SAVE PASSWORD</button>
        </div><!-- add alert ("Are you sure 
                  you want to change your password?") -->
      </div><!--/CHANGE PASSWORD--> 

      <!-- logout -->
      <button class="button button-block button-assertive" ng-click="showLogOutMenu()">
        Logout
      </button> <!--/logout -->
    </ul>
  </ion-content>
</ion-view>
