<ion-view class="home-view">
  <ion-nav-title>
    <span>HOME</span>
  </ion-nav-title>
  <ion-content scroll="false">
  	<div class="call-to-action">
  		<button class="btn btn-premium">Buy Premium</button>
  	</div>
    <ion-slide-box show-pager="true">
		<ion-slide ng-repeat="item in vm.content">
			<div class="list card img-full fullscreen">
				<div class="headline">
					<h1>{{item.title}}</h1>
				</div>
				<img class="img-full" ng-src="{{vm.srcImage}}{{item.image}}">
			</div>
		</ion-slide>
	</ion-slide-box>
</ion-view>
